<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="courier service that helps users deliver parcels to different destinations>
  <meta name="keywords" content="Andela's Challenge-1">
  <meta name="author" content="Ndindiri">
  <title>Challenge-1 | Sign Up</title>

  <link rel="stylesheet" type="text/css" href="./assets/style.css">
  <link rel="stylesheet" type="text/css" href="./assets/form.css">
</head>
<body>
   <header>
     <a href="index.html" class="header-brand"><span class="highlight">SEND</span>IT</a>
     <nav>
    
      <div class="header-cases">
        
            <ul>
              <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="current"><a href="Signup.html">Sign Up</a></li>
          <li><a href="basket.html">Basket(0)</a></li>
          <li><a href="service.html">Service</a></li>
          <li><a href="contact.html">Contact</a></li>
      </ul>
      </div>
         
     </nav>
   </header>
      
    <h1 style="text-align: center"> REGISTRATION FORM </h1>    
 
   <main>
    <div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
                  
                  <!--LogIn Page -->
         <form>
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input" name="username" required="Username">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password" name="pass" required="password">
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check"><span class="icon"></span> Keep me Signed in</label>
        </div>
        <div class="group">
        <button type="submit" class="button" value="Sign In">Sign In</button>
         
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#">Forgot Password?</a>
        </div>
      </div>
      </form>
      <div class="sign-up-htm">

             <!--Sign UP Page -->
         <form method="POST" action="./view">
         <div class="group">
          <label for="name" class="label">Full Name</label>
          <input id="name" type="text" class="input" name="name" required="Username">
        </div>
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input" name="username"  required="Username">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password" name="pass" required="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Repeat Password</label>
          <input id="pass" type="password" class="input" data-type="password" name="pass2"  required="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Email Address</label>
          <input id="pass" type="email" class="input" name="email"  required="Email">
        </div>
        <div class="group">
          <label for="pass" class="label">Country</label>
          <input id="pass" type="text" class="input" name="country"  required="Country">
        </div>
        <div class="group">
          <label for="pass" class="label">Telephone</label>
          <input id="pass" type="text" class="input" name="telep"  required="Telephone">
        </div>
        <div class="group">
          <a href="#"><input type="submit" class="button" value="Sign Up"></a>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already Member?</a>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>
   </main>
   </div>

   <div class="wrapper">
   <footer class="footer1">
    <ul class="footer-links-main">
      <li><a href="index.html">Home|</a></li>
      <li><a href="about.html">About|</a></li>
      <li><a href="service.html">Service|</a></li>
      <li><a href="Tracking.html">Track Parcel|</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div id="copy">
    <p>SendIT Website, Copyright &copy; 2018</p>
  </div>
   </footer>
</body>
</html>